body{
    margin: 0;
   background-color: blue;
}
#logo{
    width: 150px;
}
#container{
    padding: 30px;
    height: 700px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(../assets/imagens/Grid.jpg);
    background-size: cover;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
select{
    padding: 6px 25px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.579);
    background-image: url(../assets/imagens/mundo.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px;
    margin-right:20px ;
    border-radius: 5px;
    cursor: pointer;


}
#btn-enter{
    padding: 8px 16px;
    font-size: 14px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

 