
  @import url('https://fonts.cdnfonts.com/css/circular-std');
body{
    margin: 0;
   background-color: #232323;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#logo{
    width: 148px;
    margin-left: 145px;
}
#container{
    padding: 25px 30px;
    height: 650px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.767) 60%, rgba(0, 0, 0, 0.899) 100%), url(../assets/imagens/Grid.jpg);
    background-size: cover;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
select{
    padding: 6px 25px;
    font-size: 15px;
    color: white;
    background-image: url(../assets/imagens/mundo.png);
    background-color: rgba(0, 0, 0, 0.514);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 8px;
    margin-right:20px ;
    border-radius: 5px;
    cursor: pointer;
    
    


}
#btn-enter{
    padding: 6px 14px;
    font-size: 14px;
    background-color: #e50914;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin-right: 155px;
}

#main{
    margin-top: 220px;
    color: white;
    text-align: center;
}
#title-main{
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 800;
    justify-content: center;
    margin-bottom: 0px;
}
.subtitle-main{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}
form{
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
   justify-content: center;
}
#input{
    height: 55px;
    width: 390px;
    background-color: rgba(21, 20, 20, 0.79);
    border-radius: 3px;
    border: 1px solid #645f5f;
    padding: 0px 10px;
  
}
#btn-start{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
    padding: 2px 20px;
    background-color: #e50914;
    border:none;
    border-radius: 3px;
    color: white;
}
#box-container{

    display: flex;
    flex-direction: row;
    width: 87%;
    height: 90px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top:-70px;
    background: radial-gradient( 120.35% 220% at 49.86% -6.29%, #e50914 0%, #0e1b4f 46.15%, #0d1121 100% );
    display: block;
    padding: 30px;
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 22px;
}
#redbox-title{
    font-size: 20px;
}
#box-anuncio{
    font-size: 15px;
}
#box-saibamais{
    font-size: 15px;
    text-decoration: underline;
    color: rgb(0, 187, 255);
}
#content{
    display: flex;
    flex-direction: row;
}
#pipoca{
    width: 150px;
    position:a;
    margin-right: 200px;
    

}
.info{
    padding: 25px 30px;
    height: 550px;
    background-color: black;
    background-size: cover;
}
.box-info{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    z-index: -1;

}
.info-2{
    height: 520px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    margin-top: 8px;
}
.info-2 img{
    width: 550px;
}
.box-info{
    padding: 100px;
}
#faq{
    height: 800px;
    margin-top: 8px;
    background-color: #000;

}
footer{
    height: 500px;
    background-color: #000;
    margin-top: 8px;
}